form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.5em;
    border: 1px solid #222222;
    margin-top: 1em;
    margin-bottom: 1em;
}
label, input {
    display: block;
}
label:last-of-type {
    margin-top: 1em;
}
input {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-top: .5em;
}
.btnSubmit {
    margin-top: 2em;
    padding: 1em 2em;
}